@import "../../global.scss";

.menu {
    width: 300px;
    height: 100vh;
    background-color: $orange;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 500ms ease;

    &.active {
        right: 0;
    }

    ul {
        //margin: 0;
        //padding: 0;
        list-style: none;
        font-size: 30px;
        font-weight: 600;
        color: $creamGreen;

        li {
            margin-bottom: 20px;
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                font-weight: 900;
            }
        }
    }
    
}