@import "../../global.scss";

.topbar {
    background-color: transparent;
    color: $darkGreen;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
    top: 0;
    transition: all 500ms ease;

    &.active {
        //background-color: $darkGreen;
        color: $creamGreen;

        .logo {
            color: white;
        }

        .right{
            
            .hamburger {
                // width: 25px;
                span{
                    &:first-child {
                        background-color: $neonGreen;
                        transform: rotate(35deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:last-child {
                        background-color: $neonGreen;
                        transform: rotate(-35deg);
                    }
                }
            }
        } 
    }

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {

            .logo {
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: $neonGreen;
            }
        }

        .right {
            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                overflow: hidden;

                span {
                    width: 100px;
                    height: 3px;
                    background-color: $neonGreen;
                    transform-origin: left;
                    transition: all 1s ease;

                }
            }
        }
    }
}