@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $creamGreen; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $orange; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $purple; 
}

.portfolio {
    background-color: $darkGreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    //height: 200vh !important;

    .green-star {
        content: url(../../assets/portfolioGreen.svg);
        position: absolute;
        bottom: 0px;
        right: -40px;
        z-index: 0;
        height: 30vh;

        @media only screen and (min-width: 768px) {
            height: 63vh;
        }
    }

    .orange-star {
        content: url(../../assets/portfolioPurple.svg);
        position: absolute;
        left: -30px;
        top: 25vh;
        height: 40vw;

        @media only screen and (min-width: 768px) {
            left: 5vw;
            top: 30vh;
            height: 20vw;
        }
    }

    .purple-star {
        content: url(../../assets/purplePort.svg);
        position: absolute;
        left: 1vw;
        bottom: 30vh;
        height: 100px;
        transform: rotate(-5deg);

        @media only screen and (min-width: 768px) {
            left: 30vw;
            bottom: 15vh;
            transform: rotate(20deg);
        }
    }

    h1 {
        font-size: 15.8vw;
        overflow: hidden;
        font-weight: 900;
        margin-top: 60px;
        margin-bottom: 30px;
        color: $creamGreen;
        text-shadow: 5px 5px $orange;

        @media only screen and (min-width: 768px) {
            margin-top: 10px;            
        }
    }

    ul {
        list-style: none;
        display: flex;
        margin-bottom: 10px;
    }

    .container {
        width: 95%;
        max-width: 1600px;
        position: absolute;
        z-index: 2;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        //margin-bottom: 30px;
        margin-top: 30vh;

        @media only screen and (min-width: 768px) {
            height: 300px;
            margin-top: 49vh;
        }
        
        .item-link {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 30%;
            height: 100%;
            //min-width: 230px;
            //min-height: 140px;

            .item {
                width: 30%;
                height: 35%;
                //min-width: 230px;
                //min-height: 140px;
                border-radius: 4px;
                margin: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                position: absolute;
                transition: all .5s ease;
                cursor: pointer;
                scroll-snap-type: y mandatory;
                border: 5px solid $orange;
               // background: linear-gradient(to top left, $orange, $neonGreen);
    
                @media only screen and (min-width: 768px) {
                    min-width: 350px;
                    min-height: 250px;
                    margin: 10px;
                }
                    
                a {
                    position: absolute;
                    margin-bottom: 80px;
                    font-size: 22px;
                    text-align: center;               
                    text-decoration: none; 
                    font-weight: 600;
                    color: $creamGreen;
                    transition: font-weight 500ms ease, color 500ms ease;
                    max-width: 250px;
                   
    
                    &:hover {
                        color: $neonGreen;
                        font-weight: 700;
                    }             
                }
    
                h3 {
                    position: absolute;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-family: 'Inter', sans-serif !important;
                    color: $creamGreen;
                    margin-bottom: -20px;
    
                    &.tools {
                      margin-bottom: -80px;  
                    }
                }    
    
                
    
                .itemImg {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    z-index: 1;
                }
    
        
                &:hover {
                    background-color: $orange;
                    transform: scale(1.05);
                    img {
                        opacity: 0.1;
                        z-index: 0;
                    }
                }
            }
        }

        
    }

    .description {
        color: $creamGreen;
        bottom: 10vh;
        position: absolute;
        font-family: 'Inter', sans-serif !important;
        font-weight: 600;

        &.cover {
            display: none;
        }

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
}