@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.about {
    background-color: $creamGreen;
    position: relative;

    .about-me {
        color: $neonGreen;
        position: absolute;
        font-size: 13vh;
        font-weight: 800;
        right: -20px;
        bottom: 0;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        display: none;

        @media only screen and (min-width: 768px) {
            font-size: 20vh;
            right: 40px;
            bottom: 10px;
            display: block;
        }
    }

    .about-me-horz {
        color: $neonGreen;
        position: absolute;
        font-size: 22vw;
        font-weight: 800;
        left: -3vw;
        top: 70px;

        @media only screen and (min-width: 768px) {
            font-size: 20vh;
            top: 70px;
        }
    }
    .description {
        position: absolute;
        width: 700px;
        font-size: 24px;
        font-family:'Inter', sans-serif !important;
        font-weight: 600;
        color: #275634;
        margin-left: 10vw;
        bottom: 7vh;
        max-width: 70%;

        @media only screen and (min-width: 768px) {
            font-size: 25px;
            bottom: 10vh;
        }
    }

    .starImg {
        content: url("../../assets/bigAboutStar.svg");
        position: absolute;
        max-height: 100px;
        left: 65vw;
        bottom: 63vh;
       
        @media only screen and (min-width: 768px) {
            left: 40vw;
            bottom: 32vh;
            max-height: 300px;
        }
    }

    .starImg2 {
        content: url("../../assets/smallAboutStar.svg");
        position: absolute;
        height: 120px;
        transform: rotate(-50deg);
        bottom: 10vh;

        @media only screen and (min-width: 768px) {
            left: 65vw;
            height: 130px;
            transform: none;
        }
        
    }

    
}