@import "../../global.scss";

.intro {
    background-color: $darkGreen;
    //display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    .mobileName {
        &.orange {
            color: $orange;
        }

        &.purple {
            color: $purple;
        }

        @media only screen and (min-width: 768px) {
            display: none;     
        }
    }

    #nightVideo {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 0.2;

        @media only screen and (min-width: 768px) {
            opacity: 0.2;     
        }
    }

    .wrapper {
        position: absolute;
        bottom: 0;
        margin: 0;

        .introduction {
            font-size: 5vw;
            font-weight: 800;
            margin-left: 10px;
            color: $creamGreen;
            z-index: 3;
            position: relative;
        }
        .name {
            font-size: 19.5vw;
            font-weight: 900;
            letter-spacing: -0.05em;
            // margin-bottom: -0.2em; - made the wrapper have a scroll behaviour
            margin-top: -0.3em;
            color: $neonGreen;
            position: relative;
            z-index: 1;
        }
    }

    .purple-star {
        content: url("../../assets/purpleIntro.svg");
        left: 3vw;
        bottom: 40vh;
        height: 125px;
        position: absolute;
        z-index: 2;
        transition: all 1s ease;

        &:hover {
            transform: scale(1.3);
        }

        @media only screen and (min-width: 768px) {
            left: 15vw;
            bottom: 20vh;
            height: 200px;     
        }

    }

    
        

        .starImg {
            content:url("../../assets/introOrange.svg");
            //height: 30vw;
            position: absolute;
            z-index: 1;
            transition: all 1s ease;
            left: 33vw;
            bottom: 8vh;
            height: 300px;


            &:hover {
                transform: scale(1.2);
            }

            @media only screen and (min-width: 768px) {
                left: 53vw;
                bottom: 14vh;
                height: 450px;   
            }
        }
      
}