@import "../../global.scss";


.smallGreenStar {
    margin-top: 6rem;
    height: 20%;
    top:0;
}
.intro {

    #nightVideo {
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        z-index: -1; 
    }
    
    #nightImage {
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        z-index: 2;
    }
   

    .bigGreenStar {
        margin-left: 2.5rem;
        height: 30%;
    }

    .wrapper {
        position: absolute;
        bottom: 15%;
        margin: 0;

        .introduction {
            font-size: 5vw;
            font-weight: 800;
            margin-left: 8rem;
            color: $creamGreen;
            z-index: 3;
            position: relative;
        }
        .name {
            font-size: 19vw;
            font-weight: 900;
            margin: -0.5em -0.1em -0.3em -0.09em;
            color: $neonGreen;
            position: relative;
            z-index: 1;
        }

        .intro-text {
            margin-left: 8rem;
            max-width: 50%;
            z-index: 3;
            overflow-y: hidden;
            position: relative;
        }

        
    }

    .school {
        margin-left: 8rem;
        position: absolute;
        bottom: 2rem;
    }

    .smallGreenStar {
        // content: url("../../assets/purpleIntro.svg");
        left: 3vw;
        bottom: 40vh;
        height: 125px;
        position: absolute;
        z-index: 2;
        opacity: 1;
        transition: all 1s ease;

        &:hover {
            transform: scale(1.3);
        }

        @media only screen and (min-width: 768px) {
            left: 15vw;
            bottom: 20vh;
            height: 200px;     
        }

    }


        .bigGreenStar {
            position: absolute;
            transition: all 1s ease;
            left: 50vw;
            bottom: 40vh;
            height: 300px;


            &:hover {
                transform: scale(1.2);
            }

            @media only screen and (min-width: 920px) {
                left: 53vw;
                bottom: 14vh;
                height: 450px;   
            }
        }
      
}