@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import './global.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Syne', sans-serif;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D6DED8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272E29;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #539666;
}
